<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">USER ID</th>
      <th scope="col">EMAIL</th>
      <th scope="col">ROLE</th>
      <th scope="col">BALANCE</th>
      <th scope="col">STATUS</th>
      <th scope="col">KUNG ANO PA MAN?</th>
      
    </tr>
  </thead>
    </tr>
    <tr>
      <th scope="row">USER ID</th>
      <td>John</td>
      <td>Doe</td>
      <td>John</td>
      <td>Doe</td>
  
      <td class="table-active">@social</td>
    </tr>
  </tbody>
</table>




<%= link_to "Home Page", root_path %> <br> <br>

<%= link_to "Create Account", new_admin_path %>
